body {
    font-family: verdana, helvetica;
    font-weight: bold;
    margin: 0;
}

.menu {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000366;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.menu a {
    padding: 10px 15px; /* Mejor espaciado interno */
    text-decoration: none;
    font-size: 20px; /* Tamaño de fuente ajustado */
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 5px 0; /* Espaciado entre enlaces */
}

.menu a:hover {
    color: #f1f1f1;
    background-color: #575757; /* Fondo diferente al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.menu .logo img {
    width: 200px; 
    height: auto; 
}
